.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    width: 100%;
    border-bottom: 2px solid var(--color-bg-secondary);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--color-border);
    background: #011d45c7;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 2.5rem;
    display: flex;
}

.Navbar img {
    width: auto;
    height: 3.5rem;
}

.Navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    height: 100%;
}

.Navbar section {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.Navbar ul li:hover {
    opacity: 80%;
    color: var(--color-success);
}

.Navbar ul li strong {
    display: flex;
    align-items: center;
    font-size: .95rem;
    font-weight: 500;
    gap: .4rem;
}

.Navbar ul li:hover strong svg {
    transform: rotate(0.5turn);
}

.Navbar ul .active {
    color: var(--color-success);
    /*margin: .8rem;*/
    /*transform: translateY(-.4rem);*/
    border-bottom: 2px solid var(--color-success);
}

.Navbar section select {
    cursor: pointer;
}

.Navbar section select:focus {
    border: none;
    outline: none;
}

.Navbar section select:hover {
    color: var(--color-success);
}

.Navbar section a {
    border: 2px solid var(--color-success);
    padding: .75rem 1.4rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 4rem;
}

.Navbar section a:hover {
    background-color: var(--color-success);
    box-shadow: 0 1px 5px 2px var(--color-success);
}

/* ─── Responsive ──────────────────────────────────── */
@media (max-width: 992px) {
    .Navbar {
        flex-wrap: wrap;
        gap: .8rem;
    }

    .Navbar img {
        width: 30%;
        height: auto;
    }

    .Navbar ul {
        order: 3;
        width: 100%;
        justify-content: space-around;
    }

    .Navbar section {
        margin-left: auto;
    }
}

@media (max-width: 576px) {
    .Navbar {
        padding: .8rem;
    }

    .Navbar img {
        width: 45%;
    }

    .Navbar ul {
        gap: .6rem;
    }

    .Navbar section {
        gap: .8rem;
    }

    .Navbar section a {
        padding: .5rem .8rem;
    }

    .Navbar ul .active {
        color: var(--color-success);
        margin: 0.15rem!important;
        border-bottom: 2px solid var(--color-success);
    }
}
.ContactBtn {

}