.base {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.full {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-full);
    padding: 1rem;
    color: var(--color-success);
    svg {
        color: var(--color-success);
    }
}

.outline {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: var(--radius-full);
    width: 5rem;
    height: 5rem;
}

.ghost {content: '';
}

.alt {
    background-color: var(--color-secondary-alt);
    width: 4rem;
    height: 4rem;
    border-radius: var(--radius-full);
}

